

.container-ajouter-recette {

  display: block;
  margin: 20px auto;
  width: 800px;
  padding: 30px;
  overflow: hidden;
  text-align: left;

  input, button, textarea, select{
    margin: 10px 0;
    width: 100%;
  }
}



#div-ingredient .div1_ing,
#div_etapes, 
.div-temps, 
.div-difficulte-cout-categorie
 {
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    border-radius: 20px;
    margin: 15px 0px;
    *{
      width: 33%;
    }
    textarea{
      width: 100%;
    }
}


#div_etapes, #div-ingredient{
  flex-direction: column;
  margin: 15px 0px;

}


.container-ajouter-recette input:not(.btnFile), .container-ajouter-recette select ,.container-ajouter-recette .input_etape {
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, 
  box-shadow 0.15s ease-in-out;
  height: 43px;
}

.container-ajouter-recette .input_etape {
  height: 150px;
  overflow: hidden;
}



.container-ajouter-recette select{
  background-color: white;
  color: black;
}

.btnn, .btn_delete, .btn-submit{
  background-color:dodgerblue;
  width: 700px;
  border: none ;
  border-radius: 4px;
  padding: 6px;
  color : white;

}

.btn-submit{
  background-color: crimson;
}



@media screen and (max-device-width: 900px) {

  
.container-ajouter-recette {

  width: 100vw;
  *{
    padding: 5px 0;
    margin: 0;
  }
  
  
.div1_ing,
#div_etapes, .div-temps, .div-difficulte-cout-categorie ,
.container-ajouter-recette .input_etape , #nom-recette, #nb-personne {


  width: 100%;
  margin: 0;


}
#div-ingredient .div1_ing,
#div_etapes, 
.div-temps, 
.div-difficulte-cout-categorie{
  flex-direction: column;
  *{width: 100%;}
}
}
}