body {
  /* background-image: linear-gradient(to right, pink, rgb(160, 244, 244), rgb(249, 249, 164)); */
  background-color: lightslategrey;
  background-color: white !important;
  height: 100%;
}

h2 {
  color: white;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
}

.form-control {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px !important; 
  height: 45px;;
}

.container {

  padding: 50px;
  max-width: 1720px !important;

  max-width: 600px !important;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  /* width: 100% ; */
  background-color: salmon !important;
   /* */
}

.btn{
  background-color:white !important;

  border-radius: 50px !important; 
  height: 45px;;
}

/* Tablette */
@media(max-width:850px) {
  h2 {
    font-size: 60px;
  }

  .form-control {
    height: 50px;

  }

  .btn-primary {
    height: 45px;
  }

  .container {
    max-width: 750px;
  }
}

/*Mobile */
@media(max-width:450px) {

  h2 {
    color: white;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
  }

  .container {
    margin-top: 40%;
    max-width: 350px; border-radius:0px; 
  }
}