body{
    background: linear-gradient(10deg, rgba(2,0,36,1) 0%, rgba(24,51,80,1) 25%, rgba(64,145,161,1) 100%); 
}


.h1-categorie {
    text-align: center;
    padding: 30px 0;
    text-decoration: underline;
    color: white;
}

.div-toutes-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px;



    .div-categorie {
        margin: 20px;
        width: 150px;

        a {
            text-decoration: none;
            color: black;
            color: white;


            h3 {
                padding: 20px;
                text-align: center;
                font-size: large;
    color: white;
            
            }

        }

        img {
            border: none;
            border-radius: 50%;
            object-fit: cover;
            width: 150px;
            height: 150px;
        }

    }
}


@media screen and (max-device-width: 750px) {

    .div-toutes-categories {
        margin: 0;
        padding: 0;

        .div-categorie {
            margin: 10px;

            h3{
                font-size: 1.3em;
            }
        }
    }
}