body {
    // background: linear-gradient(10deg, rgba(2,0,36,1) 0%, rgba(24,51,80,1) 25%, rgba(64,145,161,1) 100%); 
    // background-color: rgb(20, 20, 20);
}

.div-toutes-categories {
    display: block;
    margin: 10px 40px;

    .div-categorie {
        a {
            text-decoration: none !important;
            color: darkslategray !important;


        }

        h3 {
            color: darkslategray;
            font-weight: 800;
            font-size: 45px;
            padding: 25px 0;
            text-decoration: none;

        }
    }
}


@media screen and (max-device-width: 750px) {

    .div-toutes-categories {
        margin: 0;
        padding: 0;

        .div-categorie {
            margin: 10px;

            h3 {
                font-size: 1.3em;
            }
        }
    }
}