

.div-toutes-categories {
    display: block;
    margin: 10px 40px;

    .div-categorie {
        a {
            text-decoration: none !important;
            color: darkslategray !important;
            text-decoration: none !important;


        }

        h3 {
            color: darkslategray !important;
            font-weight: 800;
            font-size: 45px;
            padding: 25px 0;
            text-decoration: none !important;

        }
    }
}


@media screen and (max-device-width: 750px) {

    .div-toutes-categories {
        margin: 0;
        padding: 0;

        .div-categorie {
            margin: 10px;

            h3 {
                font-size: 1.3em;
            }
        }
    }
}