body {
    height: 100%;
    padding: 0px;
    margin-bottom: 100px;
}

.div-mon-compte {
    display: flex;

    .btn-primary{
        background-color: #2f4f4f !important;
        border: #2f4f4f !important;
    }
    .div-mon-compte-main {

        margin: 0 20px;
        background-color: white;
        border-radius: 20px;
        padding: 30px;
        width: 75vw;

        h1,
        h2 {
            text-align: center;
            color: darkslategray !important;
            font-weight: 800;
            font-size: 45px;
            padding: 25px 0;
        }
    }

    .div-mon-compte-sommaire {
        width: auto;
        margin: 0 auto;
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 20px;
        padding: 30px;
        height: max-content;
        *{
            padding: 15px 0 ;
        }

        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 50%;
        }

        h1 {
            color: #2c466c;
            font-weight: 400;
            font-size: 25px;
        }

        .btn-group-vertical button{
            padding: 15px 24px !important;
        }
    }

}




#mon-carnet-contenu {
    width: 85%;
}


@media screen and (max-device-width: 900px) {
    .menu-bar {
        flex-direction: column;

        * {
            padding: 15px;
        }
    }

    .div0 h3 {
        color: white;
        font-size: 25px;
        margin: 20px auto;
        text-align: center;
    }

    .div0 .div-menu-horizontale button {

        font-size: 20px;
    }

    .div-mon-compte {
        .div1 {
            flex-direction: column;

            .div1-left,
            .div1-right {
                width: 100vw !important;
                padding: 30px 10px !important;
                margin: 0 !important;
                border-radius: 0;
            }

            .div1-right img {
                margin: 0 auto !important;
                width: 100% !important;
                height: auto;

            }
        }
    }

    .div-menu-horizontale button {

        margin: 17px 0;
    }

}