@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');
/** important for thin font weight **/




body {

    margin: 0 ;
    padding: 0;
    /* background-color: #F7CAC9; */
    font-family: 'Raleway', sans-serif;
}

/* Base styling */
nav {
    background-color: white
        /* #e8dacd   */
        !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    border-bottom: 0.5px solid gray;
}
.nav__title {
    font-size: 22px;
    text-align: center;
    color: #ff8b88;
    color: rgb(83, 83, 83);
    font-weight: 300;
    padding-left: 15px;
    text-decoration: none;
}

.nav__link {
    font-size: 19px;
    text-align: center;
    color: rgb(83, 83, 83);
    font-weight: 300;
    text-decoration: none;
    padding-right:20px;
}

.nav__title:hover,
.nav__link:hover {
    color: orange;
}
