body {

    background-color: #fff !important;
}

* {
    box-sizing: border-box;
}

.head {
    background-color: #858585;
    height: 150px;
    width: 70%;
    margin: 0 auto;
    min-width: 400px;
}

.main {
    display: block;
    margin: 0 auto;
    width: fit-content;
    h1{
        color: darkslategray;
        font-weight: 800;
        font-size: 45px;
        padding: 25px ;
        text-decoration: none;
    }
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: auto;
    margin: 0 auto;
    background-color: whitesmoke;

    .flex-item {
        
        background-color: whitesmoke;
        .element {
            width: auto;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            padding: 0;
            margin: 10px;
            background-color: #fff;
            box-shadow: #f98d8d ;
            border-radius: 20px 20px 0 0;

            .div-img {

                width: 350px !important;
                height: 300px !important;
                padding: 0;
                margin: 0;
                img {
                    padding: 0;
                    margin: 0;
                    border-radius: 20px 20px 0 0;
                    width: 350px !important;
                    height: 300px !important;
                    min-height: 300px;
                    max-height: 300px;
                    object-fit: cover;

                    border: none;
                    transition: transform .5s ease;

                }

                img:hover {
                    transform: scale(1.05);
                    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
                }

            }
            .info-recette{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                padding: 20px 10px;
                color: darkslategrey;
                font-weight: 700;
                max-height: 70px;
                height: 50px;
            }

            .div-titre {

                padding: 10px;
                height: auto;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                width: 350px;
                max-height: 110px;
                height: 90px;

                .a-titre {

                    display: block;
                    text-decoration: none;
                    font-size: 1em;
                    text-align: center;
                    text-transform: uppercase;
                    color: darkslategrey;
                    font-weight: 700;
                
                }

                .a-titre:hover {
                    color: steelblue;
                }


                #btn-trash {
                    border: none;
                    border-radius: 5px;
                    text-decoration: none;
                    background-color: transparent;
                    color: white;
                }

            }
        }

        #heart{
            width: 20px;
            height: 20px ;
        }

    }
}



#btn-update {
    display: block;
    text-align: center;
    width: 80px;
    padding: 5px;
    margin: 5px auto;
}

@media screen and (max-width: 600px) {

    .main {
        width: 100vw;
        margin: 0;
        padding: 0;
        padding-top: 35px;

        .flex-container {
            width: 100vw;
            margin: 0;
            padding: 0;

            .flex-item {
                width: 100%;
                padding: 5px;
                margin: 0;

                .element {
                    width: 100% !important;
                    height: auto;

                    padding: 0;
                    margin: 0;

                    .div-img {
                        width: 100% !important;
                        height: auto;

                        img {
                            width: 100% !important;
                            height: auto;
                        }
                    }

                    .div-titre {
                        font-size: 1.3em;

                    }
                }
            }
        }
    }

}