:root {
    --width-ingredients: 40vw;
}

.div-right a {
    text-decoration: none;
    color: rgb(90, 135, 135);
}


body {
    background-color: white !important;
    /*background-color: lightslategrey;*/
    font-family: Arial;
    margin: 0;
    font-size: 1rem;
    line-height: 1.5rem;

    .contenu {
        box-sizing: border-box;
        background-color: white;
        margin: 0 auto;
        padding: 50px 15px;
        width: 100vw;
        background-color: rgb(232, 232, 232);

        .div-image-infos,
        .div-ingredients-etapes {
            margin: 0px auto;
            width: calc(2 *var(--width-ingredients));
            height: max-content;
            background-color: white;
            box-sizing: border-box;
            padding: 0;
        }

        .div-image-infos {

            .div-image {
                margin: 0;
                padding: 0;
                width: var(--width-ingredients);
                height: 400px;

                .image-recette {
                    height: 400px;
                    width: var(--width-ingredients);
                    object-fit: cover;
                }
            }

            .div-right {
                width: var(--width-ingredients);
                max-height: 400px;
                padding: 30px;
                font-size: 1.1em;

                h1 {
                    margin: 20px 0;
                    text-transform: capitalize;
                    font-size: 2em;
                    font-weight: 800;
                    text-align: center;
                    color: darkslategray;
                }

                #p-auteur {
                    text-align: center;
                    margin: 10px 0;
                }

                .div-temps {
                    margin: 10px 0;
                    padding: 0;

                    .div-temps-element {
                        margin: 20px;

                        div {
                            text-align: center;
                        }

                        :last-child {
                            color: darkslategray;

                            display: block;
                        }

                    }
                }

                #div-btn-save-recette {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    a {
                        border: none;
                        border-radius: 5px;
                        padding: 7px 12px;
                        text-decoration: none;
                        color: rgb(123, 131, 131);
                        background-color: transparent;
                        font-weight: 500;

                        svg {
                            color: red !important;
                        }
                    }
                }
            }
        }

        .div-ingredients-etapes {

            .div-ingredients,
            .div-etapes {
                width: var(--width-ingredients);
                margin: 0;
                padding: 30px;

                h2 {
                    font-size: 2em;
                    text-align: center;
                    font-weight: 700;
                    margin: 30px 0;
                    color: darkslategray;

                }
            }

            #ingredients p {
                font-size: 1.1em;
                line-height: 30px;
                text-align: center;
                border-bottom: 1px solid lightgray;
                padding: 8px 0px;
                margin-top: 4px;
                margin-bottom: 0;
            }

            .div-etapes {
                background-color: rgb(244, 244, 244);
            }

        }
    }
}






table.preparation td.preparation_etape {
    font-size: 1.1em;
    padding: 0.3em;
    line-height: 30px;

}



@media (max-width: 1040px) {

    .contenu {
        padding: 0 !important;
        margin: 0 !important;
        width: 100%;

        .div-image-infos,
        .div-ingredients-etapes {
            padding: 0;
            margin: 0;
            width: 100vw !important;
            height: auto !important;
        }

        .div-image-infos {
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            width: 100vw !important;

            .div-image {
                width: 100vw !important;

                .image-recette {
                    height: auto;
                    width: 100vw !important;
                    object-fit: cover;
                    min-width: none;
                }
            }
        }

        .div-right {
            width: 100vw !important;
            padding: 20px !important;
            text-align: center;

            h1 {
                margin: 30px 0;
                font-size: 2.5em;
                text-align: center;
                width: 100%;
            }
            #div-btn-save-recette a {
                font-size: 1.1em;
            }

            .div-temps {
                margin: 0 !important;
                padding: 15px 0 !important;
                border: none;

                .div-temps-element {
                    font-size: 1.1em;
                    margin: 15px;

                    * {
                        margin: 5px 0;
                    }
                }
            }

         


        }

        .div-ingredients-etapes {
            margin: 0 !important;
            width: 100vw !important;

            .div-ingredients,
            .div-etapes {
                border-radius: none;
                width: 100vw !important;
                padding: 5px;
                margin: 0 !important;

            }

            .div-ingredients,
            .div-ingredients h2 {
                padding-top: 10px !important;

            }
        }

    }


}