body {
    background-color: white !important;
    /*background-color: lightslategrey;*/
    font-family: Arial;
    margin: 0;
    font-size: 1rem;
    line-height: 1.5rem;
}

div.contenu {
    background-color: white;
    margin: 40px auto;
    padding: 15px;
    /* box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1); */
    overflow: hidden;
    height: auto;
    width: 90%;
    max-width: 800px;
}

h1 {
    padding-top: 20px;
    text-align: center;
    margin-bottom: 12px;
    margin-top: 10px;
}

.contenu h1 {
    font-size: 2.5em;
}

div.colonne1.colonne h2,
div.colonne2.colonne h2 {
    font-size: 2em;
}

#ingredients p {
    font-size: 1.1em;
    padding: 0.2em;
}

table.preparation td.preparation_etape {
    font-size: 1.1em;
    padding: 0.3em;
}


.centrer {
    text-align: center;
    width: 100%;
}

p.categorie {
    background-color: black;
    color: white;
    display: inline-block;
    margin-top: -15px;
    padding: 8px 18px;
    margin-bottom: 0px;
    font-weight: bold;

}

#div-btn-save-recette{
    text-align:center; padding-top:30px;

}

#div-btn-save-recette a{
     border:none; border-radius:5px; padding:7px; text-decoration:none; background-color: rgb(227, 154, 166);color:rgb(0, 0, 0);
}


div.categorie {
    margin-bottom: 0px;
    margin-top: 0px;
    overflow: visible;
}

div.separateur {
    width: 100px;
    height: 1px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

div.div-image {
    position: relative;
    width: 600px !important;
    margin: 0 auto;
}

table.div-image {
    position: absolute;
    bottom: 0;
    width: auto;
    color: white;
    background-color: #6C829DC0;
    height: auto;
}

table.div-image td {
    text-align: center;

    vertical-align: top;
}

table.div-image th {

    vertical-align: bottom;
    padding-bottom: 8px;
}

img.div-image {
    display: block;
    max-height: 650px;
    object-fit: cover;
    min-height: 200px;
    background-color: lightgray;
}

.div-temps {
    margin-top:20px; 
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}


.element-div-temps {
    float: left;
    width: 25%;
    text-align: center;
    /* color:gray; */
    min-height: 60px;
    border-bottom: 2px solid lightslategrey;

}


div.colonne {
    width: 45%;
    margin-top: 50px;
}

div.colonne h2 {
    text-align: center;
    text-transform: uppercase;

    border-bottom: 5px solid #6C829D;
    padding-bottom: 5px;
}

div.colonne1 {
    display: inline-block;
    margin-right: 10%;
}

div.colonne2 {
    float: right;
    max-height: auto;
}


div.ingredients p {
    text-align: center;
    border: 1px solid lightgray;
    padding: 8px 0px;
    margin-top: 4px;
    margin-bottom: 0;
}

table.preparation p.numero {
    background-color: #6C829D;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    font-weight: bold;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0;
}

table.preparation td {
    vertical-align: top;
}

table.preparation td.preparation_etape {
    padding-left: 10px;
    padding-bottom: 10px;
}

table.preparation tr {
    height: 40px;
}




/* Styles pour tablette*/
@media screen and (max-device-width: 940px) {
    div.contenu {
        margin: 60px auto;
        padding: 0px 30px 30px 30px;
        width: 90%;
    }

    .contenu h1 {
        font-size: 2.8em;
    }

    div.colonne1.colonne h2,
    div.colonne2.colonne h2 {
        font-size: 1.8em;
    }

    #ingredients p {
        font-size: 1.2em;
        padding: 1em;
    }

    table.preparation td.preparation_etape {
        font-size: 1.2em;
        padding: 1em;
    }

    div.ingredients p {

        font-size: 20px;
        padding: 8px 0px;
        margin-top: 4px;
        margin-bottom: 0;
    }

    table.preparation p.numero {
        width: 40px;
        height: 40px;
        font-size: 40px;
        padding: 20px;
        padding-top: 0px;
        padding-left: 10px;
        margin-top: 15px;
    }


    div.colonne {
        width: 100%;
    }


}





/* Styles pour phone*/
@media screen and (max-width: 500px) {
    div.contenu {
        margin: 10px auto;
        padding: 0px 30px 30px 30px;
    }
    

    .element-div-temps {
        height: auto;
    }

    .element-div-temps {
        width: 100%;
    }

    div.colonne {
        width: 100%;
    }

}
